html {
	font: 0px Courier;
	color: white;
}

body {
	
}

.layer {
	display: inline;
}

#greenDiv {
	background-color: green;
	text-align: center;
}

#yellowDiv {
	display: inline-block;
	background-color: yellow;
}

.box {
	font: 96px Courier;
	width: 120px;
	height: 120px;
	text-align: center;
	display: inline-block;
}

.odd {
	background-color: #ee3e64;
}

.even {
	background-color: #44accf;
}

#box_0 {
	display: block;
}

#box_1 {
	position: relative;
	left: 120px;
	display: block;
}

#box_2 {
	position: relative;
	left: 240px;
	display: block;
}

#box_3 {
	position: relative;
	left: 360px;
	display: block;
}

#box_4 {
	position: relative;
	left: 480px;
	display: block;
}

#box_5 {
	position: relative;
	left: 480px;
	display: block;
}

#box_6 {
	left: 360px;
	position: relative;
	display: block;
}

#box_7 {
	left: 240px;
	position: relative;
	display: block;
}

#box_8 {
	left: 120px;
	position: relative;
	display: block;
}

#box_9 {
	display: block;
}
/
*





Block

 

means

 

the

 

div

 

should

 

start
/


*

 

As

 

far

 

as

 

I

 

can

 

tell

 

inline-block

 

means

 

treat

 

that

 

particular

 

element

 

as

 

inline
,
but

 

treat

 

it


'
s

 

child

 

element

 

as

 

block
,
and

 

likely

 

all

 

the

 

subelements


.