body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
	float: center;
}

h3 {
	font-size: 30px;
}

hr {
	height: 4px;
}



#mainDiv {
	background-color: #FFF;
	text-align:left;
	padding-bottom:5px;

}
#mainPicture{
	width: 150px;

}


#imageDiv {
	
	background-color:#FFF;
	display:inline-block;
	float: left;
	margin-left: 40px;
	margin-right:40px;
	padding:0px;
}

#detailsDiv {
	background-color: #FFF;
	display:inline-block;
	width:40%;
}



#title {
	background-color: #FFF;
	text-align: left;
	display:block;
}

#bestSeller {
	background-color: #FFF;
	text-align: left;
	font-weight: bold;
	display:block;
}

#manufacturer {
	background-color: #FFF;
	text-align: left;
	display: block;
}

#price {
	color: maroon;
	background-color: #FFF;
	text-align: left;
	display:block;

}

#weight {
	background-color: #FFF;
	font-weight: bold;
	text-align: left;
	display:block;
}

.stars {
	width: 20%;
	background-color: #FFF;
	display: block;
}